<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>按钮特效</title>
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <!--<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="js/script.js"></script>-->
    <!--http://www.imooc.com/video/32-->
</head>
<body>
<!--input标签并不是好的选择-->
<input type="button" value="按钮">
<input type="submit" value="提交">
<input type="reset" value="重置">
<hr/>

<a href="javascript:;"><span>按钮按钮</span></a>
<a href="javascript:;" class="css3Btn">按钮按钮</a>
</body>
</html>